{% extends 'base.html'%}

{% block content%}
<div class="container">
    <h4 >About Blog</h4>
</div>
<div class="container">
<div class="card">
    <div class="container">
 <section>
  <strong>
      <p> This website belong to my personal blog. I have developed this website <br>
          using the django framework. I am very enthusiasm to learn python which has simple and precise syntax.
       I urge eveyone to tast the python language.. I hope you all will prefer this language
          and you will get zealous in coding.. </p>
      <br>
      <br>
      <h5>Brief History about python</h5>
      <p>
          Python is a high-level, general-purpose programming language.
          Its design philosophy emphasizes code readability with the use of significant indentation.
          Its language constructs and object-oriented approach
          aim to help programmers write clear, logical code for small- and large-scale projects
      </p>
      <marquee><h5>

          Start Coding in python .........................
      </h5>
          </marquee>

  </strong>
 </section>
        </div>
    <br>
</div>
    </div>
{%endblock%}